{% extends "base.html" %}
{% block title %}SOMETHING WRONG - 404{% endblock %}
{% block navtitle %}SOMETHING WRONG - 404{% endblock %}

{% block content %}
<div class="box box-primary">
    <div class="box-header with-border"></div>
    <div class="box-body">
        <div class="callout callout-info">
            <h1><i class="icon fa fa-info"></i> 错误代码 - 404</h1>
            <p>&nbsp;</p>
            <h3>没这个人别找了！</h3>
        </div>
    </div>
    <div class="box-footer">
        <a class="btn btn-primary" href="{{url_for('main.index')}}">返回首页</a>
    </div>
</div>
{% endblock%}