{% extends "base.html" %}

{% block title %}用户管理{% endblock %}
{% block navbar %}
<section class="content-header">
    <h1>用户管理操作</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">用户管理总览</li>
{#        <li class="active">通知方式查询</li>#}
    </ol>
</section>
{% endblock %}

{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        {% include 'message.html' %}
    </div>

    <div class="box-body">
        {% if form%}
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>用户账号</th>
                <th>用户昵称</th>
                <th>最近发推时间</th>
                <th>累计发推数量</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            {% for row in form.content %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{row.user_name}}</td>
                <td>{{row.user_nick}}</td>
                <td>{{row.recent_active_time}}</td>
                <td>{{row.number_of_tweets}}</td>

                 {# <td>
                    {% if row.status %}
                    <input type="checkbox" data-id="{{row.id}}" class="status" data-on-text="生效" data-off-text="失效"
                           data-size="mini" checked>
                    {% else %}
                    <input type="checkbox" data-id="{{row.id}}" class="status" data-on-text="生效" data-off-text="失效"
                           data-size="mini">
                    {% endif %}
                </td>#}

                <td><a class='fa fa-lg fa-edit text-light-blue'
                      href='{{ url_for("main.notifyedit", id=row.id) }}'></a></td>{#传id是在哪里被用到的(view.py的两个common函数中#}
                <td><a class='fa fa-lg fa-warning text-red' href='?action=del&id={{row.id}}'></a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

    <div class="box-footer clearfix">
        {% if form%}
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            {% for i in range(1, form.total_page+ 1) %}
            {% if i == form.page %}
            <li><a href="?page={{i}}"><b>{{i}}</b></a></li>
            {% else %}
            <li><a href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="#">&raquo;</a></li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}