{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/twitter/twitter.css') }}">
{% endblock %}
{% block title %}用户管理{% endblock %}


{% block navbar %}
<section class="content-header">
    <h1>用户管理操作</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">查詢用户</li>
{#        <li class="active">通知方式配置</li>#}
    </ol>
</section>
{% endblock %}

{% block content %}
<div class="box box-primary">
    <form method="post">
        {{form.hidden_tag()}}
        <div class="box-header with-border">
            {% include 'message.html' %}
        </div>

        <div class="box-body" style="background-image:url(../static/plugins/twitter/img/universe.jpg);height:550px">
            <div class="col-md-12" style="">
                <img src="../static/plugins/twitter/img/universe.jpg" style="width:400px;height:270px;" class="center-block">
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group" style="opacity:0.8">
                    {{form.user_name(class_="form-control",placeholder="请输入用户名称")}}
                </div>
            </div>

            <div class="col-md-3" >
                {{form.submit(class_="btn btn-primary")}}

            </div>
        </div>
    </form>
</div>
{% endblock %}